/* Modifiers
____________________________________________*/
/* =Modifiers
____________________________________________*/
/* Common
____________________________________________*/
html,
body,
#b-wrapper {
  height: 100%;
}
body > #b-wrapper {
  height: auto;
  min-height: 100%;
}
#b-wrapper {
  max-width: 320px;
  /*min-width: 320px;*/

  margin: 0 auto;
}
#b-layout {
  width: 100%;
  height: 1%;
  padding-bottom: 161px;
  overflow: hidden;
}
/* =Common
____________________________________________*/
/* Header
____________________________________________*/
.b-header {
  background: #efefef;
  height: 103px;
  padding: 0px 10px;
  overflow: hidden;
  position: relative;
}
.b-logo {
  width: 95px;
  height: 58px;
  margin-top: 17px;
  float: left;
}
.b-header__appStoreBtn,
.b-header__googlePlayBtn {
  position: absolute;
  right: 10px;
  width: 95px;
  height: 32px;
  display: block;
  background: url("../i/sprite_storeBtn.png") 0px 0px no-repeat;
}
.b-header__appStoreBtn {
  background-position: 0 0 !important;
  top: 10px;
}
.b-header__googlePlayBtn {
  background-position: 0px -32px !important;
  top: 51px;
}
/* =Header
____________________________________________*/
/* Main Navigation
____________________________________________*/
.b-mainNav {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  height: 52px;
  background: url("../i/mainNavBg.png") 0px 0px repeat-x;
}
.b-mainNav__list {
  height: 100%;
  width: 100%;
}
.b-mainNav-list_item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  text-align: center;
  padding: 0px 11px;
  position: relative;
  height: 100%;
}
.b-mainNav-list_link {
  display: block;
  width: 100%;
  height: 100%;
}
.b-mainNav-active_corner {
  display: block;
  width: 16px;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -8px;
  background: url("../i/mainNav_corner.png") 0px 0px repeat-x;
}
/* =Main Navigation
____________________________________________*/
/* Main Content
____________________________________________*/
.b-mainContent {
  background: #efefef;
  padding: 0px 10px;
}
.b-aboutContainer {
  padding: 20px 0px 30px 0px;
}
/* =Main Content
____________________________________________*/
/* Footer
____________________________________________*/
.b-footer {
  border-top: 2px solid #bd231c;
  height: 50px;
  background: #707070 url("../i/footer_shadow.png") 0px 0px repeat-x;
  padding: 0 10px;
  position: relative;
}
.b-copyright {
  float: left;
}
.b-footer__appStoreBtn,
.b-footer__googlePlayBtn {
  float: right;
  width: 48px;
  height: 16px;
  position: absolute;
  top: 16px;
  background: url("../i/sprite_storeBtn.png") 0px -64px no-repeat;
}
.b-footer__appStoreBtn {
  right: 68px;
}
.b-footer__googlePlayBtn {
  right: 10px;
  background-position: 0px -80px !important;
}
/* =Footer
____________________________________________*/
